body, body *, * { margin: 0; padding: 0; box-sizing: border-box; }
#board { position: relative; width: 300px; height: 300px; background: black; color: black; }
.node { position: absolute; width: 10px; height: 10px; background: red; border-radius: 5px; }
.node:first-child { border: solid white 2px; }
.food { background: blue; border: solid 2px teal; }

#board.over { 
	line-height: 300px; 
	background: red;
	color: white; 
	font-size: 30px; 
	font-family: Arial; 
	text-align: center; 
}
